*{ 
    width: "80%";
    margin: auto;
    padding: 0.1%;
 }
.tittle {
color: rgb(38, 16, 239);

}
.fondo {
    background:rgb(23, 247, 83);

}
.navbar.navbar-expand-lg.bg-body-tertiary
{
 width: "";
 margin: 0.1% 1%;
 size: 0.1%;

}
.img-fluid 
{
    width: "100%";
   


}

.container-fluid
 {
    size: 5  ;
background-image: url(../img/fabrica\ automovil.jpg);
background-repeat: no-repeat;
background-size: 100%;
background-position: 25%;
 }
 .collapse.navbar-collapse
 {
    width: "" ;
    margin-bottom: "";

 }
 .nav-item
 {
    background-color: azure;
 }
 .cuadro { border: 1px blue dotted ;
    padding: 10px 5px; 
 }
     